/* ============ PÁGINA 1 - INICIO ============ */
/* Dueño: Stefany */
.inicio__titulo {
  font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 2 - SOBRE LA CARRERA ============ */
/* Dueño: Fernando */
.carrera__titulo {
 font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 3 - PLAN DE ESTUDIO ============ */
/* Dueño: Kevin */
.plan__titulo {
  font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 4 - INSTALACIONES Y LABORATORIOS ============ */
/* Dueño: Eduin */
.instalaciones__titulo {
  font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 5 - VIDA ESTUDIANTIL ============ */
/* Dueño: Fernando */
.vida__titulo {
 font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 6 - GALERÍA ============ */
/* Dueño: Stefany */
.galeria__titulo {
  font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 7 - BLOG ============ */
/* Dueño: Eduin */
.blog__titulo {
  font-size: 2.5rem;
  color:green;
}


/* ============ PÁGINA 8 - CONTACTO ============ */
/* Dueño: Diego */
.contacto__titulo {
   font-size: 2.5rem;
  color:green;
}

/* ============ PÁGINA 9 - SÚMATE ============ */
/* Dueño: Byron */
.sumate-body *{
  box-sizing: border-box;
}

/* Dueño: Byron */
.sumate-body{
  margin: 0;
  padding: 0;
  background-color: #F5EFE7;
  color: #2d221d;
}

/* Dueño: Byron */
.transparent{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 40px;
  background: linear-gradient(
      to bottom,
      rgba(45,34,29,0.65),
      rgba(45,34,29,0)
  );
}

/* Dueño: Byron */
.transparent .hmb-button{
  display:flex;
  flex-direction:column;
  gap:6px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/* Dueño: Byron */
.transparent .hmb-button div{
  width:28px;
  height:2px;
  background-color: #eeeeee;
  border-radius: 3px;
}

/* Dueño: Byron */
.sumate-main .hero{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Dueño: Byron */
.sumate-main .hero h1{
  font-size: 75px;
  line-height: 1.05;
  font-weight: 400;
  max-width: 900px;
  color: #2d221d;
}

/* Dueño: Byron */
.sumate-main .hero p{
  font-size: 22px;
  color: #55483f;
  font-weight: bold;
}

/* Dueño: Byron */
.suma{
    color: #d6a34a;    
}

/* ============ PÁGINA 10 - PREGUNTAS FRECUENTES ============ */
/* Dueño: Byron */
.preguntas__titulo {
   font-size: 2.5rem;
  color:green;
}

/* ============ PÁGINA 11 - DOCENTES ============ */
/* Dueño: Stefany */
.docentes__titulo {
 font-size: 2.5rem;
  color:green;
}